/* google front  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@500;600;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
.game{
    padding-right: 450px;
    font-size: 45px;
    font-weight: 700;
    
}
.game-color{
    color: red;
}
.image{
    width: 86.041px;
    height: 40px;
    
}
/* main styles */
.container{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    gap: 50px;
}
.play{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;

}
.go{
font-size: 95px;
font-weight: 800;
color: #F948B2 ;
margin-bottom: 0px;
margin-top: 0px;

}
.paragraph{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}
.btn-primary{
    border-radius: 48px;
    background:  #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.btn-primary2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.banner{
    background-color:rgba(140, 87, 238, 0.03);
    padding: 10px 100px;
}
.online-game{
    text-align: center;
}
.online{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.funny{
    color: #F948B2;
}
.image-content{
    display: flex;
    padding: 50px;
    gap: 20px;
}
.Download{
    display: flex;
    padding: 10px 100px;
    gap: 100px;
    text-align: center;
}
.instantly{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}
.play2{
    color: #F948B2;
}
.image-position{
    position: relative;
    bottom: 250px;
    right: 300px;

}
